<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
    </head>
    <body>

    <script defer="defer" src="static/dist/js/chunk-vendors.9bdca00d.js"></script>
    <script defer="defer" src="static/dist/js/app.1c83d5d0.js"></script>
    <link href="static/dist/css/app.2cf79ad6.css" rel="stylesheet">    
    <div id="app"></div>
    
    
    </body>
</html>